#!/usr/bin/env bash
#
# start a geth instance for mining
#

geth --identity "{{ ansible_hostname }}" \
	--rpc \
	--rpcport "8000" \
	--rpccorsdomain "*" \
	--datadir {{ geth_data_dir }} \
	--port "30303" \
	--nodiscover \
	--ipcapi "admin,db,eth,debug,miner,net,shh,txpool,personal,web3" \
	--rpcapi "db,eth,net,web3" \
	--autodag \
	--networkid {{ network_id }} \
	--nat "any" \
	--etherbase {{ geth_etherbase }} \
	--mine \
	$*
